---
type Props = {
	currentPage: string;
};

const allRecipes = await Astro.glob('../../pages/*.md');
const uniqueMealTypes = [...new Set(allRecipes.map((recipe) => recipe.frontmatter.mealType).flat())];


const { currentPage } = Astro.props as Props;
const currentPageMatch = currentPage.endsWith('/')
	? currentPage.slice(1, -1)
	: currentPage.slice(1);
---

<nav aria-labelledby="grid-left">
    <h2 class="nav-group-title">Types de recette</h2>
	<ul>
	    <li class="nav-link">
            <a href="/">Tout</a>
        </li>
		{
			uniqueMealTypes.map((mealType) => (
                <li class="nav-link">
                    <a href=`/${mealType}`>
                        {mealType}
                    </a>
                </li>
			))
		}
	</ul>
</nav>

<style>
	nav {
		width: 100%;
		margin-right: 1rem;
	}

	.nav-group-title {
		font-size: 1rem;
		font-weight: 700;
		padding: 0.1rem 0;
		text-transform: uppercase;
		margin-bottom: 0.5rem;
	}

	.nav-link a {
		font-size: 1rem;
		margin: 1px -0.5rem;
		padding: 0.3rem 0.5rem;
		font: inherit;
		color: inherit;
		text-decoration: none;
		display: block;
	}

	.nav-link a:hover,
	.nav-link a:focus {
		background-color: var(--theme-bg-hover);
	}

	.nav-link a[aria-current='page'] {
		color: var(--theme-text-accent);
		background-color: var(--theme-bg-accent);
		font-weight: 600;
	}

	@media (min-width: 50em) {
		.nav-groups {
			padding: 0;
		}
	}
</style>

<style is:global>
	:root.theme-dark .nav-link a[aria-current='page'] {
		color: hsla(var(--color-base-white), 100%, 1);
	}
</style>
