---
import BaseLayout from '../layouts/MainLayout.astro';
import RecipeCard from '../components/RecipeCard.astro';


export async function getStaticPaths() {
    const allPosts = await Astro.glob('./*.md');
    const uniqueTags = [...new Set(allPosts.map((post) => post.frontmatter.mealType).flat())];

    return uniqueTags.map((mealType) => {
      const filteredPosts = allPosts.filter((post) => post.frontmatter.mealType.includes(mealType));
      return {
        params: { mealType },
        props: { recipes: filteredPosts },
      };
    });
}
const { mealType } = Astro.params;
const { recipes } = Astro.props;
---
<BaseLayout frontmatter={{title: mealType}}>

  {recipes.map(recipe => <RecipeCard recipe={recipe}/>)}
</BaseLayout>
