---
import BaseLayout from '../layouts/MainLayout.astro';
import RecipeCard from '../components/RecipeCard.astro';
const allPosts = await Astro.glob('./*.md');
---

<BaseLayout frontmatter={{title: "Mes recettes"}}>
    <h2>Les dernière recettes</h2>

    {allPosts.map((post) => <RecipeCard recipe={post} />)}

</BaseLayout>
