---
type Props = {
	size: number;
};
const { size } = Astro.props as Props;
---

<svg viewBox="0 0 700 550" xmlns="http://www.w3.org/2000/svg" width={size} height={size}><path d="M525 420a17.5 17.5 0 0 0 17.5-17.5V70A17.5 17.5 0 0 0 525 52.5H157.5A17.5 17.5 0 0 0 140 70v367.5a55.1 55.1 0 0 0 57.4 52.5H525a17.5 17.5 0 1 0 0-35h-17.5v-35zM350 122.5a17.5 17.5 0 1 1 35 0v75.3c0 5 7.4 10.6 17.5 11.7v-87a17.5 17.5 0 1 1 35 0V210c10.1-1 17.5-6.6 17.5-11.7v-75.8a17.5 17.5 0 1 1 35 0v75.3a51.3 51.3 0 0 1-52.5 47.2v105a17.5 17.5 0 1 1-35 0V245a51.3 51.3 0 0 1-52.5-46.9zM262.5 105c41.1 0 70 59.9 70 92.4a64 64 0 0 1-52.5 60.2V350a17.5 17.5 0 1 1-35 0v-92.4a64 64 0 0 1-52.5-60.2c0-32.5 28.9-92.4 70-92.4zm210 350H197.4a20.8 20.8 0 0 1-22.4-17.5 20.8 20.8 0 0 1 22.4-17.5h275.1z"/></svg>
