---
const { recipe } = Astro.props;
---

<article class="recipe">
    <a class="recipe--title-link" href={recipe.url}>
        <h2 class="recipe--title">{recipe.frontmatter.title}</h2>
    </a>
    <a class="recipe--meal-type-link" href=`/${recipe.frontmatter.mealType}`>
        <p>{recipe.frontmatter.mealType}</p>
    </a>
</article>

<style lang="scss">
.recipe{
    border: 1px solid var(--theme-accent);
    padding: var(--gutter);
    border-radius:var(--theme-radius);

    &--title-link{
        color: var(--theme-text);
        text-decoration: none;
        transition: color var(--theme-transition-speed);

        &:hover,
        &:focus{
            text-decoration: none;
            color: var(--theme-text-accent);
        }
    }

    &--meal-type-link{
        color: var(--theme-text-light);
        text-decoration: none;
        transition: color var(--theme-transition-speed);

        &:hover,
        &:focus{
            text-decoration: none;
            color: var(--theme-text);
        }

        p{
            color: currentColor;
        }
    }
}

</style>
